/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ingeni-structural-ingeni-structural-block {
	background-color: #F9F9F9;
	border: 1px solid #393A3A;
	width: 100vw;
	margin: 0 calc(50% - 50vw);
}
